body{
    background-color: plum;
}

.container{
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box{
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 30px;
    margin: 20px;


}
input[type="text"]{
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

h1{
    color: indigo;
}

button{
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
}
#result {
    margin-top: 20px;
    font-weight: bold;
}
#answer {
    margin-top: 20px;
    font-weight: bold;
}
#total {
    margin-top: 20px;
    font-weight: bold;
}




